<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csdnspringmvc.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.csdnspringmvc.entity.User" >
    <result column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.csdnspringmvc.entity.User" >
    insert into user (id)
    values (#{id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.csdnspringmvc.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>