<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>附近的小区</title>
</head>
<body>
<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">我的坐标</h3>
    </div>
    <div class="panel-body">
        <span>116.31064,40.062658</span>
    </div>
    <br/>
    <div th:if="${not #lists.isEmpty(myinfo)}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">附近的小区</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" th:each="item : ${myinfo}">
                        <span th:text="${item.id}"></span>
                        <span th:text="${item.city}"></span>
                        <span th:text="${item.position}"></span>
                        <span th:text="${item.longitude}"></span>
                        <span th:text="${item.latitude}"></span>
                        <button class="btn">删除</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript">
//    var single = [[${singlePerson}]];
//    console.log(single.name+"/"+single.age);
    $(function(){
        $(".btn").click(function(){
           alert("删除功能完善中...");
        });
    });
</script>
</body>
</html>